.nav.nav-tabs {
    margin: 0 0 30px 0;
}

.nav,
a.list-group-item {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}
