html, body {
    background-color: #00FF00;
    font-family:'Frutiger LT Com';
    font-weight: bold;
}

.screen-content {
    position: absolute;
    left: 6vw;
    top: 18vw;
    font-size: 3vw;
    color: #FFF;
}

.screen-a .screen-content {
    color: #003B5C;
}

.screen-content-skill-callup {
    left: 3vw;
    right: 3vw;
    top: 25vw;
}

.screen-content-skill-medals {
    left: 5vw;
    top: 16vw;
}

.screen-content-best-of-nation {
    top: 7vw;
    left: 10vw;
    color: #003B5C;
    font-size: 4vw;
}

.screen-content-albert-vidal-award {
    top: 20vw;
    left: 20vw;
}

.screen-table-countries {
    width: 100%;
    table-layout: fixed;
}

.screen-table-countries td {
    text-align: center;
    vertical-align: top;
    line-height: 4vw;
}

.screen-medal {
    float: left;
}

.screen-medal-name {
    width: 14vw;
    float: left;
}

.screen-flag {
    width: 9vw;
    float: left;
}

.screen-flag img {
    max-width: 6vw;
    max-height: 4vw;
}

.screen-img-flag {
    max-width: 12vw;
    max-height: 8vw;
    margin-bottom: 3vw;
}

.screen-competitors {
    float: left;
    padding-bottom: 1vw;
}

.screen-competitor {
    width: 60vw;
}

.screen-medal-Gold,
.screen-medal-Silver,
.screen-medal-Bronze,
.screen-table-countries,
.screen-albert-vidal-award {
    visibility: hidden;
}

.screen-state-Bronze .screen-medal-Bronze,
.screen-state-Silver .screen-medal-Bronze,
.screen-state-Silver .screen-medal-Silver,
.screen-state-Gold .screen-medal-Bronze,
.screen-state-Gold .screen-medal-Silver,
.screen-state-Gold .screen-medal-Gold,
.screen-state-Preview .screen-medal-Bronze,
.screen-state-Preview .screen-medal-Silver,
.screen-state-Preview .screen-medal-Gold,
.screen-state-Preview .screen-table-countries,
.screen-state-Countries .screen-table-countries,
.screen-state-Name .screen-albert-vidal-award,
.screen-state-Preview .screen-albert-vidal-award {
    visibility: visible;
}
