:root {
  --primary-a: #62B5E5;
  --secondary-a: #8AE2D1;
  --primary-b: #DF4661;
  --secondary-b: #72D0EB;
  --background: #003764;
  --font-color: #fff;
  --screen-ratio: calc(32 / 9);
  --screen-height: min(calc(100vw / var(--screen-ratio)), 100vh);
  --unit: calc(var(--screen-height) / 16);
}

body {
    background-color: var(--background);
    font-family: "FrutigerLTW04", Frutiger, Arial, sans-serif;
    font-weight: bold;
    overflow: hidden;
    font-size: 1rem;
}

.setup {
    position: absolute;
    top: 15%;
    left: 15%;
}

button {
    font-size: calc(var(--unit) * 1);
    color: #444;
    border: 1px solid #444;
    background-color: #fff;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: rgb(184, 240, 255);
}

button.secondary {
    background-color: #ccc;
}

button.secondary:hover {
    background-color: #aaa;
}

.screen-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-content {
    height: var(--screen-height);
    width: calc(var(--screen-height) * var(--screen-ratio));
    object-fit: contain;
    overflow: hidden;
    font-size: calc(var(--unit) * 1);
    color: var(--font-color);
    background-image: url('../images/WSC2022SE_wide_empty.png');
    background-size: contain;
}

body.preview .screen-content {
    border: 1px solid #eee;
}

/* 
.screen-content::before {
    position: absolute;
    display: block;
    margin-left: calc(var(--unit) * 4);
    margin-top: calc(var(--unit) * 5);
    transform: rotate(-45deg);
    content: "Test Data";
    font-size: calc(var(--unit) * 4);
    opacity: 0.75;
    color: #ff0523;
    z-index: 99999999;
}
*/
.screen-a .screen-empty-logo {
    background-color: var(--primary-a);
}

.screen-b .screen-empty-logo {
    background-color: var(--primary-b);
}

.screen-empty-logo svg {
    width: 27rem;
    height: 16rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10rem 0 0 -14rem;
}

.screen-inner {
    width: calc(var(--screen-height) * var(--screen-ratio) / 2);
    margin-left: calc(var(--screen-height) * var(--screen-ratio) / 4);
}

.screen-skill-medals-name,
.screen-skill-callup-name {
    font-weight: 900;
    font-family: 'Inria Serif', serif;
    color: #FEE300 !important;
}

.screen-skill-medals-name .screen-skill-medals-name-mfe {
    color: #FFF !important;
}

.screen-skill-callup-name,
.screen-skill-medals-name,
.screen-best-of-nation-name,
.screen-best-of-nation-name-host,
.screen-albert-vidal-award-name {
    box-sizing: border-box;
    height: calc(var(--screen-height) * 0.25);
    padding-top: calc(var(--unit) * 1.7);
    padding-left: calc(var(--unit) * 1);
    padding-right: calc(var(--unit) * 5);
    font-size: calc(var(--unit) * 1.2);
}

.screen-skill-callup-countries {
    padding-top: calc(var(--unit) * 2.5);
    padding-left: calc(var(--unit) * 0.5);
    padding-right: calc(var(--unit) * 0.5);
}

.screen-table-countries {
    width: 100%;
    table-layout: fixed;
}

.screen-table-countries td {
    text-align: center;
    vertical-align: top;
}

.screen-table-countries td.screen-table-countries-flag {
    vertical-align: middle;
}

.screen-table-countries td.screen-table-countries-member {
    padding-top: 1em;
    line-height: 1.4em;
}

.screen-skill-medals-medals,
.screen-best-of-nation-nation,
.screen-albert-vidal-award-award {
    box-sizing: border-box;
    height: calc(var(--screen-height) * 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: calc(var(--unit) * 1);
    padding-right: calc(var(--unit) * 1);
}

.screen-skill-medallion-for-excellence {
    flex-wrap: wrap;
    box-sizing: border-box;
    height: calc(var(--screen-height) * 0.75);
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--unit) * 1.5);
    padding-left: calc(var(--unit) * 1);
    padding-bottom: calc(var(--unit) * 0.5);
}

.screen-medallion-for-excellence {
    padding-bottom: calc(var(--unit) * 0.5);
    padding-right: calc(var(--unit) * 0.5);
    font-weight: normal !important;
}

.screen-skill-medals-04 .screen-medallion-for-excellence,
.screen-skill-medals-23 .screen-medallion-for-excellence {
    font-size: 0.4em !important;
}

.screen-medal,
.screen-best-of-nation,
.screen-albert-vidal-award {
    display: flex;
    align-items: center;
}

.screen-medal-text {
    display: flex;
}

.screen-medal-name {
    padding-right: calc(var(--unit) * 0.3);
}

.screen-flag {
    min-width: 3em;
}

.screen-flag img {
    max-width: 1.75em;
    max-height: 1.25em;
}


.screen-flag img,
.screen-table-countries img {
    border: 1px solid #444;
}

.screen-best-of-nation-name {
    font-size: 6rem;
    font-weight: 900;
}

.screen-best-of-nation-name-host {
    font-size: 6rem;
    font-weight: 900;
}

.screen-albert-vidal-award-name {
    font-size: 6rem;
    font-weight: 900;
}

.screen-table-countries,
.screen-medal-Gold,
.screen-medal-Silver,
.screen-medal-Bronze,
.screen-best-of-nation,
.screen-albert-vidal-award-award,
.screen-medallion-for-excellence {
    visibility: hidden;
}

.screen-state-Countries .screen-table-countries,
.screen-state-Preview .screen-table-countries,
.screen-state-Bronze .screen-medal-Bronze,
.screen-state-Silver .screen-medal-Silver,
.screen-state-Gold .screen-medal-Gold,
.screen-state-Preview .screen-medal-Bronze,
.screen-state-Preview .screen-medal-Silver,
.screen-state-Preview .screen-medal-Gold,
.screen-state-Name .screen-albert-vidal-award,
.screen-state-1 .screen-best-of-nation-line-1,
.screen-state-2 .screen-best-of-nation-line-2,
.screen-state-3 .screen-best-of-nation-line-3,
.screen-state-4 .screen-best-of-nation-line-4,
.screen-state-5 .screen-best-of-nation-line-5,
.screen-state-6 .screen-best-of-nation-line-6,
.screen-state-Preview .screen-best-of-nation-line-1,
.screen-state-Preview .screen-best-of-nation-line-2,
.screen-state-Preview .screen-best-of-nation-line-3,
.screen-state-Preview .screen-best-of-nation-line-4,
.screen-state-Preview .screen-best-of-nation-line-5,
.screen-state-Preview .screen-best-of-nation-line-6,
.screen-state-Name .screen-best-of-nation,
.screen-state-Preview .screen-best-of-nation,
.screen-state-Preview .screen-albert-vidal-award-award,
.screen-state-Name .screen-medallion-for-excellence,
.screen-state-Preview .screen-medallion-for-excellence {
    visibility: visible;
}
