<!DOCTYPE html>
<html lang="en" ng-app="ceremoniesApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WorldSkills Ceremonies</title>
<link href="bower_components/worldskills-bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/control.css" rel="stylesheet">
</head>
<body ng-controller="ControlCtrl">

    <div class="navbar navbar-worldskills navbar-static-top">
        <div class="cube-container">
            <div class="cube-right-bottom-blue">&nbsp;</div>
        </div>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ceremonies</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-2">
                <h4>1. Login</h4>
                <p ng-show="auth.loggedIn">
                    Hello {{ auth.user.first_name }} {{ auth.user.last_name }}
                </p>
                <p ng-show="!auth.loggedIn">
                    Not logged in
                </p>
                <p>
                    <a class="btn btn-success" ng-class="{disabled: auth.loggedIn}" ng-href="{{ auth.loginUrl }}">Login</a>
                    <button class="btn btn-danger" ng-click="auth.logout()" ng-disabled="!auth.loggedIn">
                        Logout
                    </button>
                </p>
            </div>
            <div class="col-sm-1 hidden-xs">
                <h4>&nbsp;</h4>
                <p><span class="glyphicon glyphicon-menu-right text-muted"></span></p>
            </div>
            <div class="col-sm-2">
                <h4>2. Skills</h4>
                <p>
                    {{ skills.length || 0 }} skills in local storage
                </p>
                <p>
                    <button class="btn btn-success" ng-click="fetchSkills()" ng-disabled="skillsLoading">
                        Fetch<ws-text-spinner ng-show="skillsLoading" class="ng-hide"></ws-text-spinner>
                    </button>
                    <button class="btn btn-danger" ng-click="clearSkills()">
                        Clear
                    </button>
                </p>
            </div>
            <div class="col-sm-1 hidden-xs">
                <h4>&nbsp;</h4>
                <p><span class="glyphicon glyphicon-menu-right text-muted"></span></p>
            </div>
            <div class="col-sm-2">
                <h4>3. Results</h4>
                <p>
                    {{ results.length || 0 }} results in local storage
                </p>
                <p>
                    <button class="btn btn-success" ng-click="fetchResults()" ng-disabled="resultsLoading || !auth.loggedIn" title="{{ auth.loggedIn ? '' : 'Please login to sync results.' }}">
                        Fetch<ws-text-spinner ng-show="resultsLoading" class="ng-hide"></ws-text-spinner>
                    </button>
                    <button class="btn btn-danger" ng-click="clearResults()">
                        Clear
                    </button>
                </p>
            </div>
            <div class="col-sm-1 hidden-xs">
                <h4>&nbsp;</h4>
                <p><span class="glyphicon glyphicon-menu-right text-muted"></span></p>
            </div>
            <div class="col-sm-3">
                <h4>4. Screens</h4>
                <p>
                    Open the screens
                </p>
                <p>
                    <a class="btn btn-success" href="screen.html" target="_blank">
                        Launch
                    </a>
                    <button class="btn btn-default" data-toggle="button" ng-click="toggleRehearsal()">
                        Rehearsal mode
                    </button>
                </p>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-6" ng-repeat="(id, screen) in screens">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ screen.label }}</h3>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" ng-class="{'list-group-item-success': slide.done}" ng-repeat="slide in screen.slides" ng-click="showSlide(id, slide)">
                            <div class="list-group-item-heading">{{ slide.label }}</div>
                            <div ng-show="screens[id].slide == slide">
                                <p class="list-group-item-text">
                                    <div class="btn-toolbar">
                                        <button class="btn btn-success" ng-click="slide.edit = !slide.edit"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                        <div class="btn-group" ng-show="slide.states">
                                            <button class="btn btn-warning" ng-repeat="state in slide.states" ng-click="setState(id, slide, state)"><span class="glyphicon glyphicon-menu-right"></span> {{ state }}</button>
                                        </div>
                                        <button class="btn btn-danger" ng-show="slide.states" ng-click="setState(id, slide, '')">Reset</button>
                                    </div>
                                </p>
                                <p class="list-group-item-text" ng-show="slide.edit">
                                    <textarea class="form-control" json-text rows="9" ng-model="slide.context" ng-change="updateContext(id, slide)"></textarea>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr-extended" />

        <footer>

            <div class="row">
                <div class="col-md-12">
                    <p>© 2015 WorldSkills</p>
                </div>
            </div>

        </footer>

    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/worldskills-bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-worldskills-utils/src/angular-worldskills-utils.js"></script>
    <script src="bower_components/intercom.js/intercom.min.js"></script>
    <script src="bower_components/dexie/dist/latest/Dexie.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/control.js"></script>
</body>
</html>
