<!DOCTYPE html>
<html lang="en" ng-app="ceremoniesApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceremonator Screen</title>
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/screen.css" rel="stylesheet">
</head>
<body ng-controller="ScreenCtrl">

    <div ng-show="!screen">
        <p>
            <br>
            <button ng-click="enableFullscreen()">Enable Fullscreen</button>
        </p>
        <p>
            <span ng-repeat="(id, screen) in screens">
                <button ng-click="setScreen(id, 'false')">Live {{ screen.label }}</button>
            </span>
        </p>
        <p>
            <span ng-repeat="(id, screen) in screens">
                <button ng-click="setScreen(id, 'true')">Preview {{ screen.label }}</button>
            </span>
        </p>
    </div>

    <div class="screen screen-{{ screen }}" ng-class="states" ng-show="!!screen" ng-cloak>
        <div class="screen-canvas">
            <div ng-include="template"></div>
        </div>
    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/screen.js"></script>
</body>
</html>
