.screen-table-countries,
.screen-medal-Gold,
.screen-medal-Silver,
.screen-medal-Bronze,
.screen-best-of-nation,
.screen-albert-vidal-award-award,
.screen-medal-for-excellence {
    visibility: hidden;
}

.screen-state-Countries .screen-table-countries,
.screen-state-Preview .screen-table-countries,
.screen-state-Bronze .screen-medal-Bronze,
.screen-state-Silver .screen-medal-Silver,
.screen-state-Gold .screen-medal-Gold,
.screen-state-Preview .screen-medal-Bronze,
.screen-state-Preview .screen-medal-Silver,
.screen-state-Preview .screen-medal-Gold,
.screen-state-Name .screen-albert-vidal-award-award,
.screen-state-Preview .screen-albert-vidal-award-award,
.screen-state-Name .screen-medal-for-excellence,
.screen-state-Preview .screen-medal-for-excellence {
    visibility: visible;
}

.screen-best-of-nation.screen-revealed {
    visibility: visible;
}

.screen-container-kv    .screen-region-state { display: none; }
.screen-container-state .screen-region-kv    { display: none; }
