<div class="list-group-item clearfix"
     data-queue-idx="{{ rowQueueIdx }}"
     ng-class="{'list-group-item-secondary': rowSlide.done, 'list-group-item-primary': screens[rowFrameId].slide === rowSlide, 'list-group-item-previewing': isPreviewingSlide(rowFrameId, rowSlide)}">
    <div class="d-flex w-100 justify-content-between">
        <span>
            <span class="queue-frame-chip" ng-if="rowShowBadge" style="background: {{ FrameService.getFrameColor(rowFrameId) }}">{{ rowFrameLabel }}</span>
            {{ rowSlide.label }}
        </span>
        <span>
            <button class="btn btn-sm btn-white py-0 mr-1" ng-click="rowSlide.edit = !rowSlide.edit" ng-disabled="!canEditSlide(rowFrameId, rowSlide)" title="Edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <span class="btn btn-sm btn-white py-0" ng-if="workspaceCapabilities.copyScript" ng-show="rowSlide.script" ng-click="copyPaste($event, rowSlide.script)" title="Copy script">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </span>
        </span>
    </div>
    <div class="list-group-item-text">
        <div class="btn-toolbar">
            <button class="btn btn-sm btn-success mr-1" ng-class="{active: screens[rowFrameId].slide === rowSlide}" ng-click="rowShowLive()" title="Show live"><i class="fa fa-play"></i> Live</button>
            <button class="btn btn-sm btn-outline-info mr-1" ng-if="workspaceCapabilities.preview" ng-class="{active: isPreviewingSlide(rowFrameId, rowSlide)}" ng-click="previewSlide($event, rowFrameId, rowSlide)" title="Preview"><i class="fa fa-eye"></i></button>
            <div class="btn-group mr-1" ng-show="rowSlide.states && rowSlide.states.length">
                <button type="button" class="btn btn-sm btn-primary" ng-repeat="state in rowSlide.states" ng-class="{active: rowHasState(rowFrameId, rowSlide, state)}" ng-click="toggleState(rowFrameId, rowSlide, state)" ng-disabled="!canEditSlide(rowFrameId, rowSlide)">
                    <i ng-show="rowHasState(rowFrameId, rowSlide, state)" class="fa fa-ban fa-fw"></i>
                    <i ng-show="!rowHasState(rowFrameId, rowSlide, state)" class="fa fa-trophy fa-fw"></i>
                    {{ state }}
                </button>
            </div>
            <button class="btn btn-sm btn-danger" ng-show="rowSlide.states && rowSlide.states.length" ng-click="resetStates(rowFrameId, rowSlide)" ng-disabled="!canEditSlide(rowFrameId, rowSlide)">Reset</button>
        </div>
        <div class="list-group-item-text mt-2" ng-show="rowSlide.edit">
            <textarea class="form-control" json-text rows="9" ng-model="rowSlide.context" ng-change="updateContext(rowFrameId, rowSlide)"></textarea>
        </div>
    </div>
</div>
