<div class="screen-content screen-content-best-of-nation">
    <div class="screen-best-of-nation-name">
        Best of Nation
    </div>
    <div class="screen-best-of-nation-nation">
        <div class="screen-best-of-nation screen-best-of-nation-line-{{ $index + 1 }}" ng-repeat="result in context.results">
            <div class="screen-flag">
                <img ng-src="data/flags/{{ result.memberCode }}.png">
            </div>
            <div class="screen-competitors">
                <div class="screen-competitor">
                    <span ng-repeat="competitor in result.competitors"><span ng-if="!$first">, </span>{{ competitor }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
