<div class="screen-content screen-content-skill-medals screen-skill-medals screen-skill-medals-{{ context.skill.number }}">
    <div class="screen-skill-medals-name screen-region-kv">
        <div class="screen-translation" style="--translation-lines: {{ languages.length || 1 }};">
             <span class="screen-translation-line" ng-repeat="l in languages" ng-class="{'screen-translation-primary': $index === 0}"
                   translate="{{ context.skill.name }}" translate-language="{{ l.lang_code }}"></span>
        </div>
        <div class="screen-skill-medals-name-mfe screen-translation screen-translation-row">
            <span class="screen-translation-line" ng-repeat="l in languages" ng-class="{'screen-translation-primary': $index === 0}"
                 translate="Medal of Excellence" translate-language="{{ l.lang_code }}"></span>
        </div>
    </div>
    <div class="screen-skill-medallion-for-excellence screen-region-state screen-grid"
         style="--grid-count: {{ context.results.length }}; --grid-cols: {{ context.results.length > 10 ? 2 : 1 }};">
        <div class="screen-medal screen-medallion-for-excellence" ng-repeat="result in context.results"
             style="--grid-chars: {{ result.nameChars || 40 }}; --grid-chars-wrap: {{ result.nameWrapped || result.nameChars || 40 }};">
            <div class="screen-flag">
                <img ng-src="data/flags/{{ result.memberCode }}.png" onerror="this.onerror=null;this.src='data/flags/_placeholder.svg'">
            </div>
            <div class="screen-competitors">
                <span>{{ result.competitors.join(', ') }}</span>
            </div>
        </div>
    </div>
</div>
