<div class="screen-content screen-content-skill-medals screen-skill-medals screen-skill-medals-{{ context.skill.number }}">
    <div class="screen-inner">
    <div class="screen-skill-medals-name">
        {{ context.skill.name }}<br>
        <span class="screen-skill-medals-name-mfe">Medallion For Excellence</span>
    </div>
    <div class="screen-skill-medallion-for-excellence">
        <div class="screen-medal screen-medallion-for-excellence" ng-repeat="result in context.results" style="font-size: calc(var(--unit) * 0.6 + var(--unit) * {{ (4 / context.total) }});">
            <div class="screen-flag">
                <img ng-src="data/flags/{{ result.memberCode }}.png">
            </div>
            <div class="screen-competitors">
                <div class="screen-competitor">
                    <span ng-repeat="competitor in result.competitors"><span ng-if="!$first">, </span>{{ competitor }}</span>
                </div>
            </div>
        </div>
        <div ng-if="context.results.length == 0">
            No results for this skill
        </div>
    </div>
    </div>
</div>
