<div class="screen-content screen-content-skill-medals">
    <div class="screen-medal screen-medal-{{ result.medal }}" ng-repeat="result in context.results">
        <div class="screen-medal-name">
            {{ result.medal }}
        </div>
        <div class="screen-flag">
            <img ng-src="flags/{{ result.memberCode }}.png">
        </div>
        <div class="screen-competitors">
            <div class="screen-competitor" ng-repeat="competitor in result.competitors">
                {{ competitor }}
            </div>
        </div>
    </div>
</div>
