<div class="screen-content screen-content-skill-callup screen-content-skill-callup-{{ context.skill.number }}">
    <div class="screen-inner">
    <div class="screen-skill-callup-name">
        {{ context.skill.name }}
    </div>
    <div class="screen-skill-callup-countries">
        <table class="screen-table-countries">
            <tr>
                <td ng-repeat="result in context.results" class="screen-table-countries-flag">
                    <img ng-src="data/flags/{{ result.memberCode }}.png" class="screen-img-flag" style="max-width: calc(var(--unit) * 16 * {{ (1 / context.results.length) }}); max-height: calc(var(--unit) * 12 * {{ (1 / context.results.length) }});">
                </td>
            </tr>
            <tr>
                <td ng-repeat="result in context.results" class="screen-table-countries-member" style="font-size: calc(var(--unit) * 3 * {{ (1 / context.results.length) }});">
                    {{ result.member }}
                </td>
            </tr>
        </table>
    </div>
    <div ng-if="context.results.length == 0">
        No results for this skill
    </div>
    </div>
</div>
